:root{
	--bg-color: #fbfcfc;
	--bg-color-white: #fff;
	
	--btn-bg-color-primary: #ea7069;
	--btn-hover-bg-color-primary: rgba(234, 112, 105, 0.9);
	--btn-hover-border-color-primary: rgba(234, 112, 105, 0.9);
	--btn-font-color-primary: #fbfcfc;/*#fff;*/
	--btn-border-color-primary: #ea7069;
	--btn-hover-color-default: #ea7069;


	--border-color: #e4e8f1;/*#d4d9df;*/

	--color-white: #fff; /*一般用于背景色、深色底文字颜色*/
	--color-red: #ea7069;/*一般用于按钮背景颜色、hover变色*/
	--color-blue: #20a0ff;/*一般用于链接hover变色*/

	--link-hover-color: #20a0ff;
	--title-color: #4E5359;
	--content-color: #4E5359;
	--sub-title-color: #939c99;
	--default-color: #4E5359;

	--left-box-shadow: #d5d9de 0.5px 0.5px 4px 0px;
	--right-box-shadow: #d5d9de -0.5px 0.5px 4px 0px;
	--btn-box-shadow: #d5d9de 3px 0px 7px 0px;
	--img-box-shadow: 1px 2px 4px 0px #d4d9df;

	--font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}

.header{
	--nav-color: #fff;
	--nav-bg-color: #41484d;
	--nav-hover-color: #ea7069;
	--nav-logo-color: #ea7069;
	--nav-hover-border-color: #ea7069;
}

.article-detail{
	*--border-color: #d4d9df;
}

.article-properties{
	--hover-border-color: #ea7069;
	--border-color: #d4d9df;
}

.editor{
	--chk-checked-bg-color: #ea7069;
	--chk-hover-checked-bg-color: #ea7069;
	--chk-hover-border-color: #ea7069;
	--acegutter-bg-color: #fbfcfc;
	--acegutter-color: #AAA;
	--ace-theme-github-border-color: #d4d9df;
}

.el-button{
	transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    -ms-transition: .1s ease-in-out;
}

.myarticle{

}

.lan-mark{
	position: relative;
}

.lan-mark:after{
	content: attr(lan);
	text-transform: uppercase;
	position: absolute;
    top: 0;
    right: 0;
    color: #d4d9df;
    text-align: right;
    font-size: 0.75em;
    padding: 5px 10px 0;
    line-height: 15px;
    height: 15px;
    font-weight: 600;

    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: initial;
}

code{
	--code-bg-color: #F9FAFB;
	--code-font-family: Menlo,Monaco,Consolas,Courier,monospace;;
}


body, html {
	min-height: 100%;
    background-color: var(--bg-color);
}

body{
	margin: 0;
}

html, body, button, input, select, textarea {
    font-family: var(--font-family);
}

a:link, a:hover, a:active, a:visited {
	text-decoration: none!important;
}

.tag{
	font-size: 12px;
	border: 1px solid #5D5794;
	color: #5D5794;
	padding: 1px 2px;
	border-radius: 3px;
}

.pull-right{
	float: right!important;
}

.pull-left{
	float: left!important;
}

.text-center{
	text-align: center!important;
}

.text-right{
	text-align: right!important;
}

.hide{
	display: none;
}

.hr-hor{
	background: #eee;
    height: 1px;
    width: 100%;
    border: 0;
}

.hr-ver{
	background: #eee;
    height: 100%;
    width: 1px;
    border: 0;
}

h3{
	font-weight: 400;
    font-size: 22px;
    color: #1f2f3d;
    margin: 10px auto;
}

.right-container{
	margin-top: 25px;
	height:100%;
}

.el-button--primary{
	background: var(--btn-bg-color-primary, #20a0ff);
	border-color: var(--btn-border-color-primary, #20a0ff);
	color: var(--btn-font-color-primary, #fff);
}
.el-button--primary:hover{
	background: var(--btn-hover-bg-color-primary, #4db3ff);
	border-color: var(--btn-hover-border-color-primary, #4db3ff);
}
.el-button--default:hover{
	border-color: var(--btn-border-color-primary, #20a0ff);
	color: var(--btn-hover-color-default, #ea7069);
}

.breadcrumb-container{
	margin: 15px 0;
	position: relative;
}
.flex-col-layout{
	display: flex;
	flex-direction: column;
}
.flex-row-layout{
	display: flex;
	flex-direction: row;
}