body, html {
    *background-color: #d4d9df;
    background-color: #fbfcfc;
    *background:linear-gradient(to left,#7f9ba2,#d4d9df);
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}

body{
	margin: 0;
}

body, button, input, select, textarea {
    *font: 12px/1.3 "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}

.bs-c0{
	background-color: #fff;
}

.bs-c1{
	background-color: #F9FAFB;
}

.bs-c2{
	background-color: #CED0D2;
}

.bs-c3{
	background-color: #5D5794;
}

.bs-c4{
	background-color: #D4ECDC;
}

.bs-c5{
	background-color: #7DD196;
}

.bs-c6{
	background-color: #4E5359;
}

.bs-c7{
	background-color: #A5A7A8;
}

/*.el-button {
	border-radius: 17px;
	background: #fff url(../img/button-glass.png) repeat-x 0 0;
	color: #000000;
	display: inline-block;
	font-weight: 500;
}*/

.btn-1{
	border-radius: 17px;
	background: #7DD196 url(../img/button-glass.png) repeat-x 0 0;
	color: #fff!important;
	display: inline-block;
	font-weight: 500;
	box-shadow: -1px 2px 5px #D4ECDC;
}

.btn-1:hover, .btn-2:hover, .btn-3:hover{
	opacity: 0.8;
	color: #fff;
}

.btn-2{
	border-radius: 17px;
	background: #5D5794 url(../img/button-glass.png) repeat-x 0 0;
	color: #fff!important;
	display: inline-block;
	font-weight: 500;
	box-shadow: -1px 2px 5px #d4c7ea;
}

.btn-3{
	border-radius: 17px;
	background: #fff url(../img/button-glass.png) repeat-x 0 0;
	color: #5D5794!important;
	border-color: #5D5794;
	display: inline-block;
	font-weight: 500;
	*box-shadow: -1px 2px 5px #d4c7ea;
}

.tag{
	font-size: 12px;
	border: 1px solid #5D5794;
	color: #5D5794;
	padding: 1px 2px;
	border-radius: 3px;
}

.pull-right{
	float: right;
}

.pull-left{
	float: left;
}

.text-center{
	text-align: center;
}

.hr-hor{
	background: #eee;
    height: 1px;
    width: 100%;
    border: 0;
}

.hr-ver{
	background: #eee;
    height: 100%;
    width: 1px;
    border: 0;
}

h3{
	font-weight: 400;
    font-size: 22px;
    color: #1f2f3d;
    margin: 10px auto;
}

/*.gradient-line{
	width: 100%;
	height:1px;
	background:linear-gradient(to left,white,#d4d9df,white);
	position: absolute;
	bottom: 0;
	left: 0;
}*/

.right-container{
	position:fixed;
	right:0;
	z-index:999;
	height:100%;
	background:#fff;
	box-shadow:#d5d9de -1px 2px 7px 0px;
}